# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

core/bin/
db/bin/
logic/bin/
server/bin/
cli/bin/
core/build/
db/build/
logic/build/
server/build/
cli/build/
